<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DeviceName" value="COM3"/>
    <add key="BaudRate" value="9600"/>
  
    <!--KWS, RADWAG-->
    <add key="Model" value="KWS"/>
  </appSettings>
</configuration>